<ion-header>
    <ion-toolbar>
        <ion-title>{{emp?.firstName}} {{emp?.lastName}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="emp">
        <ion-card>
            <img [src]="emp.imageUrl" alt="{{emp?.name}}" (error)="updateImage($event)">
            <ion-card-content>
                <ion-card-title>{{emp?.firstName}} {{emp?.lastName}}
                    <ion-chip *ngIf="emp.attendance" float-right [ngClass]="{
                                                'safe':emp.status === 'safe',
                                                'danger':emp.status === 'danger',
                                                'unknown':emp.status === 'unknown'
                                            }" class="ion-color ion-color-success ios ion-activatable hydrated">
                        <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
                            <span>{{emp.status}}</span>
                        </ion-label>
                    </ion-chip>
                </ion-card-title>
                <p>{{emp?.department}}</p>
                <p>{{emp?.dob}}</p>
                <!-- <ion-card-title class="stats-title">Other Details:</ion-card-title> -->
                <span>{{emp?.contactNo}}</span>
                <span>{{emp?.gender}}</span>
                <span>{{emp?.emailId}}</span>
                <span>{{emp?.emailId}}</span>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>