// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.safe {
    background: rgb(174, 240, 199);
    color: rgb(0, 0, 0);
}

.danger {
    background: rgb(235, 182, 202);
    color: rgb(0, 0, 0);
}

.unknown {
    background: rgb(122, 122, 122);
    color: rgb(255, 255, 255);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}